{% load i18n %}
<style type="text/css">
svg#topology_canvas {
  font-family: sans-serif;
}
svg#topology_canvas .network-rect {
  cursor: pointer;
}
svg#topology_canvas .network-rect.nourl {
  cursor: auto;
}
svg#topology_canvas .network-name {
  font-weight: bold;
  font-size: 12px;
  fill: #fff;
  text-anchor: middle;
}
svg#topology_canvas .network-cidr {
  font-size: 11px;
  text-anchor: end;
}
svg#topology_canvas text.network-type {
  font-family: FontAwesome;
  text-anchor: end;
}
svg#topology_canvas .port_text {
  font-size: 9px;
  fill: #666;
}
svg#topology_canvas .port_text.left {
  text-anchor: end;
}
svg#topology_canvas .base_bg_normal {
  fill: #333;
}
svg#topology_canvas .loading_bg_normal {
  fill: #555;
}
svg#topology_canvas .base_bg_small,
svg#topology_canvas .loading_bg_small {
  fill: #fff;
}
svg#topology_canvas .active {
  fill: #45B035;
}
svg#topology_canvas .icon polygon {
  fill: #333;
}
svg#topology_canvas .instance_small .frame,
svg#topology_canvas .router_small .frame {
  /*fill: url(#device_small_bg);
  stroke: #333;
  stroke-width: 3;
  */
  fill:white;
  stroke:#333;
  stroke-width:3;
  fill-opacity:0;
}
svg#topology_canvas .instance_small .port_text,
svg#topology_canvas .router_small .port_text {
  display: none;
}
svg#topology_canvas .router_normal .frame,
svg#topology_canvas .instance_normal .frame {
  fill: #fff;
  stroke: #333;
  stroke-width: 4;
}
svg#topology_canvas .router_normal .icon_bg,
svg#topology_canvas .instance_normal .icon_bg {
  fill: #fff;
  stroke: #333;
  stroke-width: 4;
}
svg#topology_canvas .router_normal .texts_bg,
svg#topology_canvas .instance_normal .texts_bg {
  fill: url('#device_normal_bg');
}
svg#topology_canvas .router_normal .texts .name,
svg#topology_canvas .instance_normal .texts .name {
  text-anchor: middle;
  fill: #333;
  font-size: 12px;
}
svg#topology_canvas .router_normal .texts .type,
svg#topology_canvas .instance_normal .texts .type {
  text-anchor: middle;
  fill: #fff;
  font-size: 12px;
}
svg#topology_canvas .router_normal .instance_bg,
svg#topology_canvas .instance_normal .instance_bg {
  fill: #333;
}
svg#topology_canvas g.loading .active {
  fill: #555;
}
svg#topology_canvas g.loading .icon polygon {
  fill: #555;
}
svg#topology_canvas g.loading .instance_bg {
  fill: #555;
}
svg#topology_canvas g.loading .instance_small .frame,
svg#topology_canvas g.loading .router_small .frame {
  stroke: #555;
  fill: url(#device_small_bg_loading);
}
svg#topology_canvas g.loading .router_normal .frame,
svg#topology_canvas g.loading .instance_normal .frame {
  stroke: #555;
}
svg#topology_canvas g.loading .router_normal .name,
svg#topology_canvas g.loading .instance_normal .name {
  fill: #999;
}
svg#topology_canvas g.loading .router_normal .texts_bg,
svg#topology_canvas g.loading .instance_normal .texts_bg {
  fill: url(#device_normal_bg_loading);
}
svg#topology_canvas g.loading .router_normal .icon_bg,
svg#topology_canvas g.loading .instance_normal .icon_bg {
  stroke: #555;
}
#infra_svg_container {
  background: #efefef;
  width: 100%;
  height: auto;
  min-height: 400px;
}
#infra_template .frame {
  fill:white;
  stroke:#333;
  stroke-width:5;
  fill-opacity:0;
}
#infra_template .name,
#infra_template .status,
#infra_template .label {
  text-anchor: middle;
  fill: #333;
  font-size: 12px;
}
#infra_template .name,
#infra_template .status,
#infra_template .label {
  font-size: 14px;
}
#infra_template .label {
  fill: #fff;
}
#infra_template .texts circle {
  fill: #5cb85c;
}
#infra_template .texts circle.ERROR {
  fill: #d9534f;
}
#infra_template .texts .texts_bg {
  fill: #333;
}
</style>

<svg width="430" height="130" id="infra_template">
  <rect class="frame" x="10" y="10" rx="6" ry="6" width="120" height="80"></rect>
  <g class="texts">
    <circle r="5" cx="25" cy="27" class="ERROR"></circle>
    <rect class="texts_bg" x="12" y="60" width="116" height="28"></rect>
    <text class="name" x="70" y="32"></text>
    <text class="status" x="70" y="52"></text>
    <text class="label" x="70" y="80">Instance</text>
  </g>
</svg>
